$c-black: #373535;
$c-purple: #785A9D;
$c-blue: #97D0DF;
$c-teal: #cbe9f1;
$c-pink: #FECEE9;
$c-blush: #F8E5EE;
$c-white: #FFFFFF;

@font-face {
  font-family: Averia;
  src: url('../assets/averia.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Boother;
  src: url('../assets/booter.ttf');
  font-weight: normal;
}

body {
  color: $c-black;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: $c-black;
  font-family: 'Boother';
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 28px;
  margin: 0 0 8px 0;
  text-decoration: none;
  text-shadow: 2px 2px $c-blue;
  text-transform: uppercase;
}

h2 {
  color: $c-purple;
  font-family: 'Averia';
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  text-decoration: none;
}

h3 {
  color: darken($c-blue, 20%);
  font-size: 20px;
  line-height: 20px;
}

/**
 *
 * HEADER
 *
**/

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 130px;
  width: 100%;

  .logo-link {
    height: 120px;
    width: 120px;
  }

  .logo-section {
    align-items: center;
    display: flex;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }

  .logo-text {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  h1.title {
    font-size: 48px;
    line-height: 32px;
  }

  h2.subtitle {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }

  .nav__link {
    color: $c-purple;
    margin-left: 20px;
    text-decoration: none;

    &:visited,
    &:active {
      color: $c-purple;
    }

    &:hover,
    &.active--exact {
      color: darken($c-teal, 20%);
    }
  }

  .nav--mobile {
    display: none;
    margin-top: auto;

    .nav__link {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}

/**
 *
 * FOOTER
 *
**/

footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0 24px 0;

  .footer-text {
    color: darken($c-blue, 20%);
    font-family: 'Boother';
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .footer-social-logos {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .social__icon {
    color: $c-white;
    fill: $c-purple;
    height: 36px;
    margin: 0 4px;
    width: 36px;

    &:hover {
      color: $c-purple;
      fill: $c-pink;
    }
  }
}

.homepage {
  .homepage--section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .homepage--section-second {
    .premise {
      margin-right: 12px;
      width: 388px;
    }
  }

  .homepage--photo {
    text-align: center;
    min-width: 300px;
    width: calc(100% - 400px);

    img {
      width: 100%;
    }
  }

  .mtg-container {
    align-items: center;
    display: flex;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    margin-right: 12px;
    text-transform: uppercase;
    width: 400px;

    img {
      width: 100%;
    }
  }

  .premise {
    width: calc(100% - 400px - 12px);
  }
}

/**
 *
 * ABOUT PAGE
 *
**/

.aside {
  border-left: 4px solid $c-pink;
  float: right;
  font-style: italic;
  margin-left: 16px;
  margin-bottom: 8px;
  padding-left: 8px;
  width: 275px;
}

/**
 *
 * PROGRAMS PAGE
 *
**/

table {
  border: 1px solid darken($c-pink, 10%);
  border-spacing: 0;
  width: 100%;

  thead tr:last-of-type td {
    background: darken($c-blush, 5%);
    border-bottom: 1px solid darken($c-pink, 10%);
  }

  tr td:first-child {
    text-align: left;
    width: 40%;
  }

  tr:last-of-type td {
    border-bottom: 0;
  }

  td {
    background: $c-teal;
    border-bottom: 1px solid darken($c-pink, 10%);
    min-width: 85px;
    padding: 4px;
    text-align: center;
  }

  td span {
    color: lighten($c-black, 25%);
    display: block;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
  }

  tr.label td {
    background: lighten($c-purple, 40%);
    border-bottom: 1px dashed lighten($c-purple, 25%);
  }

  tfoot {
    td {
      background: lighten($c-purple, 40%);
      border-top: 1px solid darken($c-pink, 10%);
      border-bottom: 0;
      font-weight: bold;
    }

    td:first-of-type {
      font-weight: normal;
    }
  }
}

.add-on-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px 0;

  h3 {
    text-align: center;
  }

  p {
    align-items: center;
    background: $c-blush;
    border-left: 4px solid $c-pink;
    border-right: 4px solid $c-pink;
    display: flex;
    justify-content: center;
    padding: 16px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
  }

  li {
    color: $c-purple;
    margin-bottom: 4px;
    padding-bottom: 4px;
    position: relative;
    text-align: center;

    &::after {
      bottom: 0;
      border-bottom: 3px solid $c-pink;
      content: ' ';
      height: 1px;
      left: 25%;
      position: absolute;
      width: 50%;
    }
  }
}

.addon {
  margin: 24px;
  text-align: center;
}

.about-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .about-photo {
    flex-basis: calc(33% - 24px);
    margin: 0 12px;
  }

  img {
    width: 100%;
  }
}


.reviews {
  margin-top: 24px;
  width: 100%;
}

.ssr-carousel-dot-button {
  .ssr-carousel-dot-icon {
    background-color: $c-pink;
    border: none;
    border-radius: 8px;
    height: 16px;
    width: 16px;
  }

  &[disabled="disabled"] {
    .ssr-carousel-dot-icon {
      background-color: $c-purple;
    }
  }
}

.review--inner {
  border-left: 4px solid $c-pink;
  padding-left: 12px;
}

.review--author {
  color: darken($c-blue, 20%);
  font-family: "Boother";
  font-size: 30px;
  line-height: 30px;
  margin-top: 4px;
}

.review--score {
  display: flex;
  justify-content: center;
  width: 100%;
}

.star__icon {
  fill: $c-purple;
  height: 25px;
  margin: 0 4px;
  width: 25px;
}

.quote-container {
  display: inline-block;
  position: relative;
  width: 12px;
}

.quote {
  color: $c-blue;
  font-size: 36px;
  left: 0;
  line-height: 12px;
  position: absolute;
  top: -12px;
}


/**
 *
 * MOBILE
 *
**/

@media screen and (max-width: 630px) {
  .layout {
    .header {
      background: $c-white;
      position: fixed;
      z-index: 10;
    }

    .header + .content {
      padding-top: 150px;
    }

    .nav--mobile {
      display: block;
    }

    nav {
      display: none;
    }

    .logo-section {
      align-items: stretch;
    }

    .logo-text {
      flex-direction: column;

      h1.title {
        font-size: 44px;
        line-height: 30px;
        margin-bottom: 4px;
      }

      h2.subtitle {
        font-size: 20px;
        line-height: 20px;
      }
    }

    footer {
      justify-content: center;
    }

    .footer-text {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 8px;
    }
  }

  .programs {
    table td {
      font-size: 14px;
      line-height: 16px;
      min-width: 70px;
    }

    .add-on-section {
      > div {
        flex-basis: 100%;
      }

      ul {
        width: 100%;
      }
    }

  }

  .homepage .homepage--section {
    .mtg-placeholder {
      margin: 0 auto;
    }

    .premise {
      margin: 0;
      width: 100%;
    }

    .homepage--photo {
      margin: 0 auto;
      max-width: 300px;
      min-width: 300px;
    }
  }
}
